#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.calc {
  width: 350px;
  border: 5px solid white;
  //height: 400px;
  margin: 0 auto;
  border-radius: 5px;
}
.calc-logo {
  text-align: left;
  padding: 20px;
  display: flex;
  //justify-content: space-around;
  align-items: center;
  gap: 5px;

  &__img {
    transform: rotate(360deg);
    //transition: all 1s;
  }

  &__title {
    font-weight: 600;
  }
}

.display-pane {
  width: 75%;
  height: 30px;
  border: 1px solid white;
  margin: 0 auto;
  text-align: right;
  padding: 0px 5px;
  font-weight: 900;
  font-size: 20px;

  letter-spacing: 1px;
}

.control-pane {
  display: flex;
  width: 240px;
  margin: 10px auto;
  //border: 1px solid white;
  justify-content: space-around;

  &__digit-pane {
    //border: 1px solid white;
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    //width: 200px;
  }

  &__operation-pane {
    display: flex;
    //border: 1px solid white;
    flex-flow: column wrap;
    justify-content: center;
    gap: 5px;
  }
}

.digit {
  width: 30px;
  height: 30px;
  color: black;
  background-color: white;
  padding: 10px;
  font-weight: 600;
  transition: all 0.2s ease;
  &:hover {
    cursor: pointer;
    transform: translateY(-1px);
  }
  &:active {
    transform: translateY(0px);
  }

  &--operation {
    background-color: rgb(61, 205, 253);
    color: white;
    font-weight: 700;
    height: 22px;
  }
}
